body {
  margin: 0;
  padding: 0;
  background-color: #fff100;
}
.header {
  background-color: #dd364a;
}
.logo {
  padding: 1em 0;
  display: block;
}
.logo img {
  max-width: 120px;
  width: 100%;
}
.nav {
  font-family: 'Antartida Rounded';
  text-align: right;
  padding: 1.25em 1em;
}
.nav a {
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  margin: 0 1em;
}
@media only screen and (max-width: 340px) {
  .nav a {
    font-size: 1.1em;
  }
}
.body {
  background-color: #50bea3;
}
.footer {
  background-color: #fff100;
  padding: 2em 0;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 900px;
}
.content {
  background-color: #fff;
  max-width: 580px;
  width: 100%;
  margin: 3em auto;
  margin-bottom: 8em;
  padding: 2em 2em;
  position: relative;
  border-radius: 10px;
}
.content:after,
.content:before {
  background: url("../img/main-bg.svg") no-repeat left bottom;
  background-size: cover;
  display: block;
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  border-radius: 10px;
}
.content:after {
  top: 10px;
  left: -10px;
  background-color: #50bea3;
  background-image: none;
}
.why {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
  text-align: center;
}
.why li {
  display: inline-block;
  width: 90px;
  text-align: center;
}
.why p {
  line-height: 1.1em;
  font-size: 0.9em;
  font-family: 'Antartida Rounded';
  color: #58595b;
}
.why img {
  max-width: 40px;
  max-height: 50px;
  margin-bottom: 1em;
}
h1,
h2,
h3 {
  font-family: 'Antartida Rounded';
}
h1 {
  font-weight: bold;
  text-transform: lowercase;
  color: #f7941d;
  text-align: center;
  font-size: 3.1em;
}
@media only screen and (max-width: 375px) {
  h1 {
    font-size: 2.5em;
  }
}
h2 {
  text-align: center;
  font-size: 1.1em;
  color: #58595b;
  font-weight: bold;
}
.mailchimp {
  text-align: center;
  padding: 2em 0 1em 0;
}
.mailchimp .email-container {
  background: url("../img/input-bg.svg") no-repeat bottom center;
  background-size: 100%;
  width: 240px;
  padding: 1em 0;
  max-width: 100%;
}
.mailchimp .email-container input {
  border: 0;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 0 10px;
  outline: none;
  position: relative;
  top: -5px;
}
.mailchimp #mc-embedded-subscribe {
  border: 0;
  border-radius: 3px;
  background-color: #dd364a;
  color: #fff;
  padding: 0.4em 0.5em 0.15em 0.5em;
  font-family: 'Antartida Rounded';
  text-transform: uppercase;
  position: relative;
  margin-left: 4px;
  font-size: 1.15em;
  transition: 250ms all ease;
  top: -1px;
  -webkit-appearance: none;
}
.mailchimp #mc-embedded-subscribe:hover {
  background-color: #d42439;
}
.mailchimp .inline {
  display: inline-block;
}
.grocery {
  position: absolute;
  right: -85px;
  bottom: -45px;
}
.grocery img {
  width: 180px;
}
@media only screen and (max-width: 530px) {
  .grocery {
    display: none;
  }
}
.free-delivery {
  position: absolute;
  right: -95px;
  top: 45px;
}
.free-delivery img {
  width: 165px;
}
@media only screen and (max-width: 750px) {
  .free-delivery {
    display: none;
  }
}
.free-delivery-mobile {
  background-color: #fff100;
  width: 100%;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  padding: 0.5em 0.5em 0.025em 0.5em;
  margin-top: 1em;
  font-family: 'Antartida Rounded';
  font-size: 0.75em;
  display: none;
}
.free-delivery-mobile h4 {
  line-height: 0.25em;
}
.free-delivery-mobile p {
  line-height: 1em;
}
@media only screen and (max-width: 750px) {
  .free-delivery-mobile {
    display: block;
  }
}
.social-links-container {
  text-align: right;
}
.social-links-container p {
  line-height: 1em;
}
.social-links {
  list-style-type: none;
  margin: 0;
}
.social-links li {
  display: inline-block;
}
.social-links li img {
  width: 25px;
}
.page-about-us div.body {
  background-color: #26aade;
}
.page-about-us div.body .content:after {
  background-color: #26aade;
}
.page-about-us div.body h1 {
  color: #50bea3;
}
.page-faq div.body {
  background-color: #f7941d;
}
.page-faq div.body .content:after {
  background-color: #f7941d;
}
.page-faq div.body h1 {
  color: #26aade;
  text-transform: none;
}
