@font-face {
  font-family: 'Antartida Rounded';
  src: url('AntartidaRounded-Bold.eot'); /* IE9 Compat Modes */
  src: url('AntartidaRounded-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AntartidaRounded-Bold.woff') format('woff'), /* Modern Browsers */
       url('AntartidaRounded-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AntartidaRounded-Bold.svg#4c94de969572b5184a0d53510c15d06e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Antartida Rounded';
  src: url('AntartidaRounded-Medium.eot'); /* IE9 Compat Modes */
  src: url('AntartidaRounded-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AntartidaRounded-Medium.woff') format('woff'), /* Modern Browsers */
       url('AntartidaRounded-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AntartidaRounded-Medium.svg#ca13c00e2bd104e9920a3892aa2292d3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

